/* 問題作成 */
section#issue_upload ul{
	width: 500px;
	margin: 30px 0;
	display: flex;
	justify-content: space-around;
}
	section#issue_upload ul li{
		text-align: center;
		list-style: none;
	}

input{
	background: none;
	outline: none;
	border: none;
}

main section#issue_upload{
	width: 500px;
	margin: 0 auto;
}
	section#issue_upload ul li p{
		font-size: 0.8rem;
	}
	section#issue_upload ul li label{
		display: block;
		width:250px;
		height: 60px;
		line-height: 60px;
		font-size: 0.8rem;
		border-radius: 30px;
		background-color: #fff;
		cursor: pointer;
	}
		section#issue_upload ul li label input[type="file"]{
			display: none;
		}
		section#issue_upload ul li input[type="text"]{
			width: 150px;
			padding: 5px;
			margin-top: 10px;
			letter-spacing: 3px;
			text-align: center;
			border-bottom: 0.5px solid #000;
		}
		section#issue_upload ul li input[type="button"]{
			width: 400px;
			height: 60px;
			color: #fff;
			font-size: 0.8rem;
			border-radius: 30px;
			background-color: #FCC2D7;
			cursor: pointer;
		}
main div{
	margin-top: 100px;
	text-align: center;
}
	main div a{
		display: inline-block;
		width: 250px;
		height: 50px;
		line-height: 50px;
		font-size: 0.8rem;
		text-decoration: none;
		color: #9775FA;
		border-radius: 25px;
		background-color: #fff;
	}
	
/* 問題管理 */
section#issue_manager{
	margin-left: 50px;
}
	section#issue_manager p#title{
		font-size: 1.3rem;
		letter-spacing: 2px;
		margin-bottom: 30px;
	}
	section#issue_manager ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
		section#issue_manager ul li{
			box-sizing: border-box;
			width: 320px;
			height: 130px;
			padding: 20px;
			margin-bottom: 30px;
			border-radius: 10px;
			background-color: #fff;
			text-align: center;
			list-style: none;
			
			position: relative;
		}
			section#issue_manager ul li p{
				width: 220px;
				height: 30px;
				margin-bottom: 30px;
				padding-left: 5px;
				line-height: 30px;
				text-align: left;
				
				position: absolute;
				top: 20px;
				left: 20px;
			}
			section#issue_manager ul li button{
				width: 30px;
				height: 30px;
				color: #fff;
				font-weight: bold;
				border-radius: 15px;
				background: #FFA8A8;
				border: none;
				outline: none;
				cursor: pointer;
				
				position: absolute;
				top: 20px;
				right: 20px;
			}
			section#issue_manager ul li label.upload{
				display: inline-block;
				height: 40px;
				padding: 0 25px;
				text-align: center;
				line-height: 39px;
				border-radius: 20px;
				background-color: #FFDEEB;
				cursor: pointer;
				
				position: absolute;
				bottom: 20px;
				left: 20px;
			}
			section#issue_manager ul li label.edit{
				display: inline-block;
				height: 40px;
				padding: 0 25px;
				text-align: center;
				line-height: 39px;
				border-radius: 20px;
				border: 1px solid #FFDEEB;
				cursor: pointer;
				
				position: absolute;
				bottom: 20px;
				right: 20px;
			}
				section#issue_manager ul li label span{
					width: 16px;
					height: 40px;
					line-height: 36px;
					margin-left: 10px;
					
					position: relative;
				}
				section#issue_manager ul li label span::after{
					content: '';
					width: 15px;
					height: 2px;
					border-radius: 1px;
					background-color: #000;
					
					position: absolute;
					bottom: 0;
					left: -1px;
				}
				section#issue_manager ul li label i{
					margin-left: 10px;
				}
				section#issue_manager ul li label input{
					display: none;
				}



