<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}" />
	<title>授業選択 | Eas</title>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
	<link href="/css/main.css" rel="stylesheet">
	<script src="/js/roomselect.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
	<!-- セッション名、ログアウトボタン -->
	<div id="log_session">
		<div th:text="${session_name} + さん"></div>
		<form th:action="@{/logout}" method="post">
			<button type="submit" class="btn btn-outline-dark">ログアウト</button>
		</form>
	</div>
	
	<!-- ナビゲーション -->
	<nav>
    	<ul>
			<form th:action="@{/homeworksubmi}" method="get">
				<button type="submit"class="btn btn-outline-dark">提出状況</button>
			</form>
			<form th:action="@{/class/roomselect}" method="get">
				<button type="submit" class="btn btn-outline-dark">授業選択</button>
			</form>
		</ul>
	</nav>
	
	<!-- 学年選択 -->
	<form>
		<table>
			<thead>
				<tr>
					<th colspan="3" th:text="学年"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="list_schoolyear : ${list_schoolyear}" id="list_schoolyear">
					<th>
						<button type="button" class="btn btn-outline-dark btn-sm" th:text="${list_schoolyear} + 年" th:value="${list_schoolyear}"  th:data-parameter1="${list_schoolyear}" th:onclick="clickGrade(this.getAttribute('data-parameter1'))"></button>
					</th>
				</tr>
			</tbody>
		</table>
	</form>

	<!-- 組選択 -->
	<table>
		<thead>
			<tr>
				<th colspan="3" th:text="組"></th>
			</tr>
		</thead>
	</table>
	<div id="list_id">
		<div th:each="list_classEntity : ${list_classEntity}" th:object="${list_classEntity}">
			<div>
				<button type="submit" th:text="*{schoolclass} + 組" class="list_class btn btn-outline-dark btn-sm" th:data-parameter1="*{classid}" th:onclick="GetAction_Class(this.getAttribute('data-parameter1'))"></button>
			</div>
		</div>
	</div>
	
	
	<!-- 組選択(非同期) -->
	<div id="disp">
		<form id="disp_data"></form>
	</div>
</body>
</html>