<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}" />
    <title>学生授業 | Eas</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/js/class_student.js"></script>
    <!-- bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link href="/css/main.css" rel="stylesheet">
</head>
<body>
	<!-- セッション名、出席番号、入室登録id、生徒セッションid -->
	<div th:text="${session_name} + さん"></div>
	<input type="hidden" id="student_name" th:value="${session_name}">
	<input type="hidden" id="student_classno" th:value="${student_classno}">
	<input type="hidden" id="enterid" th:value="${enterid}">
	<input type="hidden" id="student_sessionid" th:value="${session_id}">
	<input type="hidden" id="teacher_sessionid">
	<input type="hidden" id="classid" th:value="${classid}">
	
	<div id="main-content" class="container">
	    <div class="row">
	    	
	    	<!-- 字幕のON、OFF -->
	        <div class="col-md-6">
	            <form class="form-inline">
	                <div class="form-group">
	                    <!-- ON -->
	                    <button th:onclick="GetVoiceRecog();" class="btn btn-outline-dark" type="button">字幕開始</button>
	                    <!-- OFF -->
	                    <button id="recog_disconnect" class="btn btn-outline-dark" type="button">字幕停止</button>
	                </div>
	            </form>
	        </div>
	        
	        <!-- 退出ボタン -->
	        <form th:action="@{/home/studenthome}" method="get">
				<button class="btn btn-dark">退出</button>
			</form>	
	    
		    <!-- 字幕表示 -->
		    <form name="session_form">
				<div id="result-div"></div>
			</form>	
		</div>
	</div>		

	<!-- modal(授業内問題) -->
	<div id="myModal" class="modal fade bd-example-modal-xl" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl" role="document">
			<div class="modal-content">
	
				<!-- ページ1 -->
				<div id="modal-page1">
					<div class="modal-header">授業内問題</div>
	
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="recipient-name" class="col-form-label">問題</label>
								<div id="show"></div>
							</div>
	
							<div class="form-group">
								<label for="message-text" class="col-form-label">解答</label>
								<input type="text" id="answer" class="form-control">
							</div>
						</form>
					</div>
	
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
						<a href="#" id="send_answer" class="btn btn-default btnNext" th:onclick="SendAnswer();">送信</a>
					</div>
				</div>
	
				<!-- ページ2 -->
				<div id="modal-page2">
					<div class="modal-header">送信完了</div>
	
					<div class="modal-body">
						<div id="answer_result"></div>
						<div id="result_value"></div>
					</div>
	
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>

</body>
</html>