<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>先生授業 | Eas</title>
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script src="/js/class_teacher.js"></script>
	<!-- bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link href="/css/main.css" rel="stylesheet">
</head>

<body>
	<!-- セッション名、ログアウト -->
	<div class="session_name" th:text="${session_name} + さん"></div>
	
	<!-- 解答状況表示 -->
	<div class="container" id="situation_buttonlist"></div>
	
	<!-- クラスid、セッションid -->
	<div>
		<input type="hidden" th:value="${classid}" id="classid">
		<form name="socket_form">
			<input type="hidden" name="sendername" id="name" th:value="${session_id}">
		</form>
	</div>
	
	<!-- 字幕表示、問題作成、退出、一括退出ボタン -->
	<div id="main-content" class="container">
		<!-- 字幕表示 -->
		<div id="result-div"></div>
		
		<div class="container" style="margin-top: 5px;">
			<button id="onModal" class="btn btn-outline-dark" th:onclick="ShowModal();">問題作成</button>
			<form th:action="@{/class/roomselect}" method="get">
				<button type="submit" class="btn btn-dark">退出</button>
			</form>
			<button type="submit" class="btn btn-outline-dark" th:data-parameter1="*{classid}" th:onclick="Bulkexit(this.getAttribute('data-parameter1'));">一括退出</button>
		</div>
	</div>

	<!-- 授業生徒一覧表示 -->
	<!-- <h3 class="right">授業参加学生</h3> -->
	<div class="right" id="student_list"></div>


	<!-- modal(授業内問題) -->
	<div id="myModal" class="modal fade bd-example-modal-xl" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl" role="document">
			<div class="modal-content">

				<!-- ページ1 -->

				<div id="modal-page1">
					<div class="modal-header">授業内問題作成</div>

					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="recipient-name" class="col-form-label">問題</label>
								<input type="text" id="issue" class="form-control">
							</div>

							<div class="form-group">
								<label for="message-text" class="col-form-label">解答</label>
								<input type="text" id="answer" class="form-control">
							</div>
						</form>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
						<button id="send" class="btn btn-default btnNext" type="submit" th:onclick="SendIssue();">送信</button>
					</div>
				</div>

				<!-- ページ2 -->
				<div id="modal-page2">
					<div class="modal-header">送信完了</div>

					<div class="modal-body">
						<div>送信しました</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- modal(一括退出) -->
	<div id="myModal2" class="modal fade bd-example-modal-xl" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl" role="document">
			<div class="modal-content">

				<!-- ページ1 -->

				<div id="modal-page1">
					<div class="modal-header">一括退出完了</div>

					<div class="modal-body">
						<div>生徒を退出させました</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- modal(解答状況) -->
	<div id="myModal3" class="modal fade bd-example-modal-xl" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl" role="document">
			<div class="modal-content">

				<!-- ページ1 -->

				<div id="modal-page1">
					<div class="modal-header">解答状況</div>

					<div class="modal-body">
						<div id="answer_situation"></div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>

</body>
</html>