<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>先生授業 | Eas</title>
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script src="/js/class_teacher.js"></script>
	<!-- bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link href="/css/main.css" rel="stylesheet">
</head>

<body>
	<div class="session_name" th:text="${session_name} + さん"></div>
	<div class="container" id="situation_buttonlist">
		<button id="situation_button">1</button>
	</div>
	
	<div id="main-content" class="container">
		<div class="row">

			<div class="col-md-6">
				<form class="form-inline">
					<div class="form-group">
						<!-- ON -->
						<!-- <button id="recog_connect" class="btn btn-dark" type="button">字幕開始</button>-->
						<!-- OFF -->
						<!--<button id="recog_disconnect" class="btn btn-dark" type="button">字幕停止</button>-->
					</div>
				</form>
			</div>
		</div>
		<br>
		<!-- 表示 -->
		<div id="result-div"></div>
		<div class="scroll_box"></div>
		
		<div class="container" style="margin-top: 5px;">
			<button id="onModal" class="btn btn-dark" th:onclick="ShowModal();">問題作成</button>
		</div>
	</div>
	
	<form th:action="@{/class/roomselect}" method="get">
		<button type="submit" class="btn btn-dark">退出</button>
	</form>
	
	<!-- 授業生徒一覧表示 -->
	<!-- <h3 class="right">授業参加学生</h3> -->
	<div class="right" id="student_list"></div>
	
	<br>
	
		<!-- 表示スペース -->
		<div class="row">
			<div class="col-md-12">
				<table id="conversation" class="table table-striped">
				
					<tr th:each="socketEntity : ${socketEntity}">
						<td th:text="${socketEntity.name}"></td>
						<td th:text="${socketEntity.message}"></td>
					</tr>

					<tbody id="show">
					</tbody>
				</table>
			</div>
		</div>
		
		<!-- 送信するデータ -->
						<div class="col-md-6">
							<form class="form-inline" name="socket_form">
			
								<!-- 名前 -->
								<div class="form-group">
									<label for="name">Name</label>
									<input type="text" name="sendername" id="name" class="form-control" th:value="${session_id}" readonly>
								</div>
								
								<!-- メッセージ -->
								<div class="form-group">
									<label for="name">Message</label>
									<input type="text" id="message" class="form-control" placeholder="Hello">
								</div>
			
								<!-- 宛先 -->
								<div class="form-group">
									<label for="name">SendTo_UserName</label>
									<div id="send_username"></div>
								</div>
								
							</form>
						</div>
	
	<!-- modal -->
	<div id="myModal" class="modal fade bd-example-modal-xl" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl" role="document">
			<div class="modal-content">

				<!-- ページ1 -->

				<div id="modal-page1">
					<div class="modal-header">授業内問題作成</div>

					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="recipient-name" class="col-form-label">問題</label>
								<input type="text" id="issue" class="form-control">
							</div>

							<div class="form-group">
								<label for="message-text" class="col-form-label">解答</label>
								<input type="text" id="answer" class="form-control">
							</div>
						</form>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
						<button id="send" class="btn btn-default" type="submit" th:onclick="sendMessage();">送信</button>
					</div>
				</div>

				<!-- ページ2 -->
				<div id="modal-page2">
					<div class="modal-header">送信完了</div>

					<div class="modal-body">
						<div>送信しました</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>

</body>
</html>