<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>提出状況確認</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container">
	<div class="row">
		<!-- サイドバー -->
		<div class="side col-lg-2">
			<!-- サイドバー共通部品 -->
			<div th:replace="/common/sidebar::sidebar"></div>
		</div>
		<!-- メイン -->
		<div class="column col-lg-10">
			<h1>提出状況確認</h1>
			<div>
			    <form th:action="@{/homework_submistatus}" method="post">
				    <select>
				      <option>1年</option>
				      <option>2年</option>
				      <option>3年</option>
				      <option>4年</option>
				      <option>5年</option>
				      <option>6年</option>
				    </select>
				    <select>
				      <option>1組</option>
				      <option>2組</option>
				      <option>3組</option>
				      <option>4組</option>
				      <option>5組</option>
				      <option>6組</option>
				    </select>
				    <select>
				      <option>国語</option>
				      <option>算数</option>
				      <option>理科</option>
				      <option>社会</option>
				      <option>英語</option>
				      <option>その他</option>
				    </select>
				    <input type="submit" value="表示">
			    </form>
			    
            <h1>問題管理</h1>
            <div th:if="${session_mail}">
                    <span th:text="${session_mail}"></span>
            </div>
	        <table class="table table-bordered table-striped">
	            <tr>
	                <th>宿題提出ID</th>
	                <th>解答番号</th>
	                <th>解答内容</th>
	            </tr>
	            <tr th:each="homeworkSubmiStatus:${homeworkSubmiStatusAll}">
	                <td th:text="${homeworkSubmiStatus.homeworksubmission_id}"></td>
	                <td th:text="${homeworkSubmiStatus.answer_no}"></td>
	                <td th:text="${homeworkSubmiStatus.answer_content}"></td>
	            </tr>
	        </table>
			</div>
		</div>
	</div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>