<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}" />
<title>宿題提出確認 | Eas</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/homework/homeworkSubmission.css">
	<!-- フォント -->
    <script>
        (function(d) {
            var config = {
                    kitId: 'fcl7ixt',
                    scriptTimeout: 3000,
                    async: true
                },
                h = d.documentElement,
                t = setTimeout(function() {
                    h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                }, config.scriptTimeout),
                tk = d.createElement("script"),
                f = false,
                s = d.getElementsByTagName("script")[0],
                a;
            h.className += " wf-loading";
            tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
            tk.async = true;
            tk.onload = tk.onreadystatechange = function() {
                a = this.readyState;
                if (f || a && a != "complete" && a != "loaded") return;
                f = true;
                clearTimeout(t);
                try {
                    Typekit.load(config)
                } catch (e) {}
            };
            s.parentNode.insertBefore(tk, s)
        })(document);
    </script>

    <!-- タブ動作 -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        $(function() {
            $(".tab li").click(function() {
                var num = $(".tab li").index(this);
                $(".tabContent").removeClass('active');
                $(".tabContent").eq(num).addClass('active');
                $(".tab li").removeClass('active');
                $(this).addClass('active')
            });
        });
    </script>
</head>
<body>
    <header>
        <button onclick="history.back()">もどる</button>
    </header>
	<div th:text="${session_name} + さん"></div>
	<form th:action="@{/logout}" method="post">
		<button type="submit">ログアウト</button>
	</form>
	
    <div class="homeworkContainer">
        <!-- tabメニュー -->
        <div class="tabWrapper">
            <ul class="tab">
                <li class="active">宿題を提出する</li>
                <li>提出履歴</li>
            </ul>
        </div>

        <!-- tabコンテンツ -->
        <div class="tabContainer">

            <!-- 課題提出 -->
            <div class="homeworkPlay tabContent active">
                <ul th:if="${homeworkDetailsList.submission_flg == 0}"  th:each="homeworkDetailsList:${homeworkDetailsList}">
                    <li class="hisSubject" th:text="${homeworkDetailsList.homework_subject}"></li>
                    <li class="hisTitle" th:text="${homeworkDetailsList.homework_filename}"></li>
                    <li class="playButton">
                        <a th:href="@{'/homeworkstudent/' + ${homeworkDetailsList.homework_id} + '/' + ${homeworkDetailsList.submission_id}}">
                            <img src="/images/playButton.svg" alt="play">
                        </a>
                    </li>
                </ul>
            </div>

            <!-- 提出履歴 -->
            <div class="homeworkHistory tabContent">
                <div>
                    <ul th:if="${homeworkDetailsList.submission_flg == 1}" th:each="homeworkDetailsList:${homeworkDetailsList}">
                        <li class="status">12/01</li>
                        <li class="hisSubject" th:text="${homeworkDetailsList.homework_subject}"></li>
                        <li class="hisTitle" th:text="${homeworkDetailsList.homework_filename}"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>