<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>提出状況確認</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/homework/homework_submistatus.css">
    
    
    <!-- Google Fonts -->
    <script>
        (function(d) {
            var config = {
                    kitId: 'fcl7ixt',
                    scriptTimeout: 3000,
                    async: true
                },
                h = d.documentElement,
                t = setTimeout(function() {
                    h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                }, config.scriptTimeout),
                tk = d.createElement("script"),
                f = false,
                s = d.getElementsByTagName("script")[0],
                a;
            h.className += " wf-loading";
            tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
            tk.async = true;
            tk.onload = tk.onreadystatechange = function() {
                a = this.readyState;
                if (f || a && a != "complete" && a != "loaded") return;
                f = true;
                clearTimeout(t);
                try {
                    Typekit.load(config)
                } catch (e) {}
            };
            s.parentNode.insertBefore(tk, s)
        })(document);
    </script>
    
    
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/e169475605.js" crossorigin="anonymous"></script>

    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>

    <header>
     	<button onclick="history.back()">もどる</button>
        <h2 th:text="${session_name} + さん"></h2>
        <form th:action="@{/logout}" method="post">
            <button type="submit">ログアウト</button>
        </form>
    </header>
    
    <div class="navigation">
        <div><img src="/images/eas_logo.svg" alt="Eas"></div>
        <nav>
            <ul>
                <li><a th:href="@{/home/teacherhome}">ホーム</a></li>
                <li><a th:href="@{/homework}">問題作成</a></li>
                <li><a th:href="@{/homeworklist}">問題管理</a></li>
                <li class="active"><a th:href="@{/homework_submistatus}">提出状況確認</a></li>
                <li><a th:href="@{/class/roomselect}">授業選択</a></li>
                <li><a th:href="@{/logmanagement}">生徒入室管理</a></li>
            </ul>
        </nav>
    </div>
		<!-- メイン -->
		    <main>
                <form th:action="@{/homework_submistatus}" th:object="${ClassForm}" method="post">
                <div class="contents">
                <div class="itemselect">
                    <select name = "school_year">
                      <option th:value = "01" th:text="1年"></option>
                      <option th:value = "02" th:text="2年"></option>
                      <option th:value = "03" th:text="3年"></option>
                      <option th:value = "04" th:text="4年"></option>
                      <option th:value = "05" th:text="5年"></option>
                      <option th:value = "06" th:text="6年"></option>
                    </select>
                </div>
                <div class="itemselect">
                    <select name = "school_class">
                      <option th:value = "01" th:text="1組"></option>
                      <option th:value = "02" th:text="2組"></option>
                      <option th:value = "03" th:text="3組"></option>
                      <option th:value = "04" th:text="4組"></option>
                      <option th:value = "05" th:text="5組"></option>
                      <option th:value = "06" th:text="6組"></option>
                    </select>
                </div>
                <div class="itemselect">
                    <input type="submit" value="表示" class="btn-flat-border">
                </div>
                </div>
                </form>
		        <ul class="list">
			        <li class="item" th:each="studentList:${studentList}">
				        <ul>
		                    <li th:text="${studentList.class_no}"></li>
		                    <li><a th:text="${studentList.student_name}" th:href="@{'homeworkdetails/' + ${studentList.student_name} + '/' + ${studentList.class_no}}"></a></li>
				        </ul>
			        </li>
		        </ul>
		    </main>
</body>
</html>