<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<head>
	<title>先生ホーム | Eas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	
	<!-- セッション名、ログアウト -->
	<div th:text="${session_name} + さん"></div>
	<form th:action="@{/logout}" method="post">
		<button type="submit">ログアウト</button>
	</form>

	<div>
		<form th:action="@{/homeworksubmi}" method="get">
			<button type="submit">提出状況</button>
		</form>
	</div>

	<div>
		<form th:action="@{/class/roomselect}" method="get">
			<button type="submit">授業選択画面</button>
		</form>
	</div>
	
	<div class="container">
		<div class="row">
			<!-- サイドバー -->
			<div class="side col-lg-2">
				<!-- サイドバー共通部品 -->
				<div th:replace="/common/sidebar::sidebar"></div>
			</div>
			<!-- メイン -->
			<div class="column col-lg-10">
				<h3>スケジュール</h3>
				<div th:each="TimetableList : ${TimetableList}" th:object="${TimetableList}">
					<div th:text=" 【 +${date}+】"></div>
					<div th:text="*{timetabletime.timeperiod} + 限目"></div>
					<nobr th:text="*{classentity.classid}"></nobr>
					<nobr th:text="*{subjectname}"></nobr>
				</div>
			</div>
		</div>
	</div>
	
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>