<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ホーム | Eas</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/home/home.css">

    <!-- Google Fonts -->
    <script>
        (function(d) {
            var config = {
                    kitId: 'fcl7ixt',
                    scriptTimeout: 3000,
                    async: true
                },
                h = d.documentElement,
                t = setTimeout(function() {
                    h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                }, config.scriptTimeout),
                tk = d.createElement("script"),
                f = false,
                s = d.getElementsByTagName("script")[0],
                a;
            h.className += " wf-loading";
            tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
            tk.async = true;
            tk.onload = tk.onreadystatechange = function() {
                a = this.readyState;
                if (f || a && a != "complete" && a != "loaded") return;
                f = true;
                clearTimeout(t);
                try {
                    Typekit.load(config)
                } catch (e) {}
            };
            s.parentNode.insertBefore(tk, s)
        })(document);
    </script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/e169475605.js" crossorigin="anonymous"></script>

    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>


</head>

<body>

    <header>
        <h2 th:text="${session_name} + さん"></h2>
		<form th:action="@{/logout}" method="post">
			<button type="submit">ログアウト</button>
		</form>
    </header>
	
	<div class="navigation">
        <div><img src="/images/eas_logo.svg" alt="Eas"></div>
        <nav>
            <ul>
                <li class="active"><a th:href="@{/home/teacherhome}">ホーム</a></li>
                <li><a th:href="@{/homework}">問題作成</a></li>
                <li><a th:href="@{/homeworklist}">問題管理</a></li>
                <li><a th:href="@{/homework_submistatus}">提出状況確認</a></li>
                <li><a th:href="@{/class/roomselect}">授業選択</a></li>
                <li><a th:href="@{/logmanagement}">生徒入室管理</a></li>
            </ul>
        </nav>
    </div>
    
    <main>
        <ul class="title">
            <li>Day</li>
            <li>Time</li>
            <li>Class</li>
            <li>Class</li>
        </ul>
        <ul th:each="TimetableList : ${TimetableList}" th:object="${TimetableList}">
            <li class="main-date" th:text="${date}"></li>
            <li th:text="*{timetabletime.timeperiod} + 限目"></li>
            <li th:text="*{classentity.classid}"></li>
            <li th:text="*{subjectname}"></li>
        </ul>
    </main>
</body>
</html>